table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  tr{
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 200px;
    /* text-decoration: none; */
    
  }
   .rank {
    width: 10px ;
    /* text-align: center; */
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .TableStracture .team-logo {
    width: 30px;
    height: 30px;
  }

  .TableStracture .team-name-logo {
    display: flex;
    gap: 8px;
    align-items: center;
  }
