.Card {
    color: white;
    background-image: url("/src/cardBackgroundImage.jpg");
    width: 350px;
    max-height: 233px;
    border-radius: 60px;
    /* background-color: hsla(147, 86%, 44%, 0.863);  */
    background-color: #000000ec;
    background-size: cover;
    /* opacity: 0.7; */
    background-blend-mode: darken;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    height: 210px;
    flex-shrink: 0;
    margin: 20px;
}

.Card .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Card .team-logo {
    width: 60px;
    height: 60px;
    position: relative;
    top: 0px !important;
    /* transition: all 0.3s; */
    transition: top 0.3s ease 0s;

}

.Card .team-logo:hover {
    top: -5px !important;
}

.score-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    margin:0 5px;
}

.score-live {
    font-size: 25px;
}

.info-container {
    display: flex;
    /* position: relative; */
    align-items: center;
    /* top: 20px; */
}
.icons {
    position: relative;
}
.icons img {
    margin: 0 25px;
    width: 12%;
    position: relative;
    top: 0;
}
.icons img:hover {
    cursor: pointer;
    transition: top 0.2s ease 0s;
    /* position: absolute; */
    top: -3px;
}

.home-team-image{
    width: 100px;
}