

.League{
  color: var(--text-color);
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    margin: 2px 20px;
    padding: 4px 0;
    text-align: right;
} 


  .League:hover {
    /* background-color: rgba(233, 233, 233, 0.837); */
    background-color: rgba(238, 238, 238, 0.926);
    color: var(--link-color);
    /* font-weight: 600; */
  } 

  .League:active{
    text-decoration: underline;
  }

  .league-name-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
  }
  .coutnry-league-flag {
    width: 20px;
    height: 15px;
  }
  @media screen and (max-width: 1000px) {
    .league-name-logo {
      width: max-content;
      justify-content: center;
      margin: 2px 10px;
      padding: 0 15px;

    }

    .League {
      margin: 0;
      width: max-content;

    }
    ::-webkit-scrollbar-thumb {
      background: #eb6540dc;
      border-radius: 20px;
    }
    ::-webkit-scrollbar {
      width: 10px;
      height: 15px;
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--link-color);
    }
  }
