:root {
    --border-color: rgba(0, 0, 0, 0.664);
    
}

.League{
  color: white;
    width: 13vw;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    margin: 2px 20px;
    text-align: right;
} 


  .League:hover {
    background-color: rgb(47, 47, 47);
    /* font-weight: 600; */
  } 

  .League:active{
    text-decoration: underline;
  }

  .league-name-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
  }
  .coutnry-league-flag {
    width: 20px;
    height: 15px;
  }
  