.Table{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
}

.Table table {
    /* width: 50%; */
    /* margin: 0 auto; */
    /* height: 50%; */
    justify-content: center;
}

.TableDiv{
    /* padding: 30px; */
    margin: 30px;
    height: 600px;
    overflow: scroll;
}



.LeagueDivTable{
    padding-top: 30px;
    /* align-items: flex-start; */
    justify-content: flex-start;
}

.Table table th {
    position: sticky;
    top: 0;
    background-color: white;
}