.Header {
	width: 100vw;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E5E6F;
    gap: 30px;
}

#logo{
    /* position: relative; */
    /* top: 25px; */
    color: white;
    background-image: url("../../../src/logo-no-background.png");
    min-width: 250px;
    max-width: 400px;
    height: 60px ;
    /* margin: 0 auto; */
    background-size:cover;
}
