
.Header .NavBar {
    width:60%;
 }

#logo{
    /* background-color: white; */
    background-image: url("../../../src/logo-no-background.png") ;
    background-repeat: no-repeat;
    width: 180px;
    height: 40px ;
    background-size:cover;
}
.darkModeLightModeDiv{
    position: absolute;
    right: 30px;
    top: 12.5px;
    cursor: pointer;
}
.darkModeLightModeDiv:hover {
    background-color: rgba(255, 255, 255, 0.156);
    border-radius: 50%;
}

.mode-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;

}
@media (min-width: 600px) {

    .css-hyum1k-MuiToolbar-root {
        min-height: 64px;
        width: 85%;
        margin: 0 auto;
    }
    
}


/* .navOnMobile {
    width: 100%;
} */
 .css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: var(--background-color) !important;
 }

 @media screen and (min-width: 600px) {
    .css-ancrnh-MuiButtonBase-root-MuiIconButton-root {
        display: none !important;
    }




}