* {
  font-family: 'Assistant', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root {
  --background-color: #EFF5F5;
  --light-color: #D6E4E5;
  --text-color: #497174;
  --link-color: #EB6440;
}

html[data-theme='light-mode'] {
  --background-color: #EFF5F5;
  --light-color: #D6E4E5;
  --text-color: #497174;
  --link-color: #EB6440;
}

html[data-theme='dark-mode'] {
  --background-color: #082032;
  --light-color: #2C394B;
  --text-color: #334756;
  --link-color: #FF4C29;
}