.CardFuture {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1fr 2fr;
	/* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* gap: 5%; */
    width: 80%;
    height: 16%;
    /* width: 400px; */
    border-radius: 15px;
    /* border-bottom: 1px solid gray; */
    background-color: rgb(227, 227, 227);
    line-height: 40%;
}

.CardFuture:hover {
    background-color: rgb(233, 233, 233);
}
.CardFuture img{
	width: 25px;
    height: 25px;
}
