.NavBar{
    display: flex;
    /* margin: 10px auto; */
    justify-content: space-around;
}

.NavBar a{
    text-decoration: none;
    color: white;
    margin: 0 30px;
}

.NavBar a.active{
    font-weight: bold;
}