.NavBar{
    display: flex;
    /* margin: 10px auto; */
    justify-content: space-around;
}

.NavBar a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    padding: 6px 50px;
    /* outline: 1px solid lightcoral; */
    background-color: rgb(37, 37, 37);
    border-radius: 14px;
}

.NavBar a:hover {
    background-color: rgba(27, 27, 27, 0.984);
    text-decoration: underline;
}

.NavBar a.active{
    font-weight: bold;
}

@media screen and (max-width: 865px) {
    .NavBar {
        width: 70%;
        position: relative;
        left: 100px;
    }
    .NavBar a {

        padding: 6px 40px;
        margin: 6px 15px;

    }
}
@media screen and (max-width: 800px) {
    .NavBar {
         width: 50%; 
         position: relative; 
         right: 150px; 
    }
    .NavBar a {

        padding: 6px 20px;
        margin: 6px 10px;

    }
}
@media screen and (max-width: 630px) {
    .NavBar {
      /* display: flex;
      flex-direction: column; */
      /* justify-content: center; */
    }
    .NavBar a {

        padding: 6px 20px;
        margin: 6px 10px;

    }
}